
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section id="container">

    <!--header start-->
    <header class="header white-bg">
        @Html.Partial("~/Views/Shared/_AdminTopMenuPartialView.cshtml")
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        @Html.Partial("~/Views/Shared/_AdminLeftMenuPartialView.cshtml")
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">

        <section class="wrapper">
            @*<div class="div-alert">
                    <div class="alert alert-success div-alertSuccess" role="alert" style="display:none">
                        asd
                    </div>
                    <div class="alert alert-danger div-alertDanger" role="alert" style="display:none">
                    </div>
                </div>*@
            <!--state overview start-->
            <div class="row state-overview">
                <div class="col-lg-3 col-sm-6">
                    <section class="card">
                        <div class="symbol terques">
                            <i class="fa fa-qrcode"></i>
                        </div>
                        <div class="value">
                            <h1 class="count">
                                0
                            </h1>
                            <p>Tarama Sayısı</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="card">
                        <div class="symbol red">
                            <i class="fa fa-bell-o"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count2">
                                0
                            </h1>
                            <p>Çağırma Sayısı</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="card">
                        <div class="symbol yellow">
                            <i class="fa fa-comment"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count3">
                                0
                            </h1>
                            <p>Cafe Yorum Sayısı</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="card">
                        <div class="symbol blue">
                            <i class="fa fa-comment-o"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count4">
                                0
                            </h1>
                            <p>Menü Yorum Sayısı</p>
                        </div>
                    </section>
                </div>
            </div>
            <!--state overview end-->



            <div class="row">

                <div class="col-lg-6">
                    <!--total earning start-->
                    <div class="card terques-chart">
                        <div class="card-body">
                            <div class="chart">
                                <div class="heading">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span>June</span>
                                            <strong>23 Days | 65%</strong>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div id="div-scanMonthSelect" class="col-sm-6">
                                                    <div class="div-customSelect div-customSelectMonth div-customSelectBlue">
                                                        <select id="select-scanMonth" class="select-month">
                                                            <option>s</option>
                                                            <option value="1">Ocak</option>
                                                            <option value="2">Şubat</option>
                                                            <option value="3">Mart</option>
                                                            <option value="4">Nisan</option>
                                                            <option value="5">Mayıs</option>
                                                            <option value="6">Haziran</option>
                                                            <option value="7">Temmuz</option>
                                                            <option value="8">Ağustos</option>
                                                            <option value="9">Eylül</option>
                                                            <option value="10">Ekim</option>        
                                                            <option value="11">Kasım</option>
                                                            <option value="12">Aralık</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div id="div-scanYearSelect" class="col-sm-6">
                                                    <div class="div-customSelect div-customSelectYear div-customSelectBlue">
                                                        <select id="select-scanYear" class="select-year">
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                                    <div id="div-scanYearDecadeSelect" class="col-sm-8">
                                                        <div class="div-customSelect div-customSelectYearDecade div-customSelectBlue">
                                                            <select id="select-scanYearDecade" class="select-yearDecade">


                                                            </select>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="barchart"></div>
                            </div>
                        </div>
                        <div class="chart-tittle">
                            <span class="title">Tarama Grafiği</span>

                            <span class="value">
                                <a href="#" class="a-scanChartDaily">Günlük</a>
                                |
                                <a href="#" class="a-scanChartMonthly">Aylık</a>
                                |
                                <a href="#" class="a-scanChartYearly">Yıllık</a>
                            </span>
                        </div>
                    </div>
                    <!--total earning end-->
                </div>
                <div class="col-lg-6">
                    <!--total earning start-->
                    <div class="card green-chart">
                        <div class="card-body">
                            <div class="chart">
                                <div class="heading">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span>June</span>
                                            <strong>23 Days | 65%</strong>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">

                                                <div id="div-callMonthSelect" class="col-sm-6">
                                                        <div class="div-customSelect div-customSelectMonth div-customSelectGreen">
                                                            <select id="select-callMonth" class="select-month">
                                                                <option></option>
                                                                <option value="1">Ocak</option>
                                                                <option value="2">Şubat</option>
                                                                <option value="3">Mart</option>
                                                                <option value="4">Nisan</option>
                                                                <option value="5">Mayıs</option>
                                                                <option value="6">Haziran</option>
                                                                <option value="7">Temmuz</option>
                                                                <option value="8">Ağustos</option>
                                                                <option value="9">Eylül</option>
                                                                <option value="10">Ekim</option>
                                                                <option value="11">Kasım</option>
                                                                <option value="12">Aralık</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div id="div-callYearSelect" class="col-sm-6">
                                                        <div class="div-customSelect div-customSelectYear div-customSelectGreen">
                                                            <select id="select-callYear" class="select-year">

                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div id="div-callYearDecadeSelect" class="col-sm-8">
                                                        <div class="div-customSelect div-customSelectYearDecade div-customSelectGreen">
                                                            <select id="select-callYearDecade" class="select-yearDecade"></select>
                                                        </div>
                                                    </div>



                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="barchart"></div>
                            </div>
                        </div>
                        <div class="chart-tittle">
                            <span class="title">Çağırma Grafiği</span>

                            <span class="value">
                                <a href="#" class="a-callChartDaily" onclick="changeCallCookieType('daily')">Günlük</a>
                                |
                                <a href="#" class="a-callChartMonthly" onclick="changeCallCookieType('daily')">Aylık</a>
                                |
                                <a href="#" class="a-callChartYearly" onclick="changeCallCookieType('daily')">Yıllık</a>
                            </span>
                        </div>
                    </div>

                </div>


            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!--timeline start-->
                    <section class="card">
                        <div class="card-body">
                            <div class="text-center mbot30">
                                <h3 class="timeline-title">Timeline</h3>
                                <p class="t-info">This is a project timeline</p>
                            </div>

                            <div class="timeline">
                                <article class="timeline-item">
                                    <div class="timeline-desk">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="arrow"></span>
                                                <span class="timeline-icon red"></span>
                                                <span class="timeline-date">08:25 am</span>
                                                <h1 class="red">12 July | Sunday</h1>
                                                <p>Lorem ipsum dolor sit amet consiquest dio</p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="timeline-item alt">
                                    <div class="timeline-desk">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="arrow-alt"></span>
                                                <span class="timeline-icon green"></span>
                                                <span class="timeline-date">10:00 am</span>
                                                <h1 class="green">10 July | Wednesday</h1>
                                                <p><a href="#">Jonathan Smith</a> added new milestone <span><a href="#" class="green">ERP</a></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="timeline-item">
                                    <div class="timeline-desk">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="arrow"></span>
                                                <span class="timeline-icon blue"></span>
                                                <span class="timeline-date">11:35 am</span>
                                                <h1 class="blue">05 July | Monday</h1>
                                                <p><a href="#">Anjelina Joli</a> added new album <span><a href="#" class="blue">PARTY TIME</a></span></p>
                                                <div class="album">
                                                    <a href="#">
                                                        <img alt="" src="~/FlatLab/img/sm-img-1.jpg">
                                                    </a>
                                                    <a href="#">
                                                        <img alt="" src="~/FlatLab/img/sm-img-2.jpg">
                                                    </a>
                                                    <a href="#">
                                                        <img alt="" src="~/FlatLab/img/sm-img-3.jpg">
                                                    </a>
                                                    <a href="#">
                                                        <img alt="" src="~/FlatLab/img/sm-img-1.jpg">
                                                    </a>
                                                    <a href="#">
                                                        <img alt="" src="~/FlatLab/img/sm-img-2.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="timeline-item alt">
                                    <div class="timeline-desk">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="arrow-alt"></span>
                                                <span class="timeline-icon purple"></span>
                                                <span class="timeline-date">3:20 pm</span>
                                                <h1 class="purple">29 June | Saturday</h1>
                                                <p>Lorem ipsum dolor sit amet consiquest dio</p>
                                                <div class="notification">
                                                    <i class=" fa fa-exclamation-sign"></i> New task added for <a href="#">Denial Collins</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="timeline-item">
                                    <div class="timeline-desk">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="arrow"></span>
                                                <span class="timeline-icon light-green"></span>
                                                <span class="timeline-date">07:49 pm</span>
                                                <h1 class="light-green">10 June | Friday</h1>
                                                <p><a href="#">Jonatha Smith</a> added new milestone <span><a href="#" class="light-green">prank</a></span> Lorem ipsum dolor sit amet consiquest dio</p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="clearfix">&nbsp;</div>
                        </div>
                    </section>
                    <!--timeline end-->
                </div>
            </div>

            @*<div class="row">
                    <div class="col-lg-12">
                        <!--custom chart start-->
                        <div class="border-head">
                            <h3>Tarama Grafiği</h3>
                        </div>
                        <div class="custom-bar-chart">
                            <ul class="y-axis">
                                <li><span>100</span></li>
                                <li><span>80</span></li>
                                <li><span>60</span></li>
                                <li><span>40</span></li>
                                <li><span>20</span></li>
                                <li><span>0</span></li>
                            </ul>
                            <div class="bar">
                                <div class="title">JAN</div>
                                <div class="value tooltips" data-original-title="80%" data-toggle="tooltip" data-placement="top">80%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">FEB</div>
                                <div class="value tooltips" data-original-title="50%" data-toggle="tooltip" data-placement="top">50%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">MAR</div>
                                <div class="value tooltips" data-original-title="40%" data-toggle="tooltip" data-placement="top">40%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">APR</div>
                                <div class="value tooltips" data-original-title="55%" data-toggle="tooltip" data-placement="top">55%</div>
                            </div>
                            <div class="bar">
                                <div class="title">MAY</div>
                                <div class="value tooltips" data-original-title="20%" data-toggle="tooltip" data-placement="top">20%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">JUN</div>
                                <div class="value tooltips" data-original-title="39%" data-toggle="tooltip" data-placement="top">39%</div>
                            </div>
                            <div class="bar">
                                <div class="title">JUL</div>
                                <div class="value tooltips" data-original-title="75%" data-toggle="tooltip" data-placement="top">75%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">AUG</div>
                                <div class="value tooltips" data-original-title="45%" data-toggle="tooltip" data-placement="top">45%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">SEP</div>
                                <div class="value tooltips" data-original-title="50%" data-toggle="tooltip" data-placement="top">50%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">OCT</div>
                                <div class="value tooltips" data-original-title="42%" data-toggle="tooltip" data-placement="top">42%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">NOV</div>
                                <div class="value tooltips" data-original-title="60%" data-toggle="tooltip" data-placement="top">60%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">DEC</div>
                                <div class="value tooltips" data-original-title="90%" data-toggle="tooltip" data-placement="top">90%</div>
                            </div>
                        </div>
                        <!--custom chart end-->
                    </div>
                </div>*@

            @*<div class="row">
                    <div class="col-lg-12">
                        <!--custom chart start-->
                        <div class="border-head">
                            <h3>Çağırma Grafiği</h3>
                        </div>
                        <div class="custom-bar-chart">
                            <ul class="y-axis">
                                <li><span>100</span></li>
                                <li><span>80</span></li>
                                <li><span>60</span></li>
                                <li><span>40</span></li>
                                <li><span>20</span></li>
                                <li><span>0</span></li>
                            </ul>
                            <div class="bar">
                                <div class="title">JAN</div>
                                <div class="value tooltips" data-original-title="80%" data-toggle="tooltip" data-placement="top">80%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">FEB</div>
                                <div class="value tooltips" data-original-title="50%" data-toggle="tooltip" data-placement="top">50%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">MAR</div>
                                <div class="value tooltips" data-original-title="40%" data-toggle="tooltip" data-placement="top">40%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">APR</div>
                                <div class="value tooltips" data-original-title="55%" data-toggle="tooltip" data-placement="top">55%</div>
                            </div>
                            <div class="bar">
                                <div class="title">MAY</div>
                                <div class="value tooltips" data-original-title="20%" data-toggle="tooltip" data-placement="top">20%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">JUN</div>
                                <div class="value tooltips" data-original-title="39%" data-toggle="tooltip" data-placement="top">39%</div>
                            </div>
                            <div class="bar">
                                <div class="title">JUL</div>
                                <div class="value tooltips" data-original-title="75%" data-toggle="tooltip" data-placement="top">75%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">AUG</div>
                                <div class="value tooltips" data-original-title="45%" data-toggle="tooltip" data-placement="top">45%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">SEP</div>
                                <div class="value tooltips" data-original-title="50%" data-toggle="tooltip" data-placement="top">50%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">OCT</div>
                                <div class="value tooltips" data-original-title="42%" data-toggle="tooltip" data-placement="top">42%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">NOV</div>
                                <div class="value tooltips" data-original-title="60%" data-toggle="tooltip" data-placement="top">60%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">DEC</div>
                                <div class="value tooltips" data-original-title="90%" data-toggle="tooltip" data-placement="top">90%</div>
                            </div>
                        </div>
                        <!--custom chart end-->
                    </div>
                </div>*@




        </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2018 &copy; FlatLab by VectorLab.
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>


@section SectionCSS{
    <!-- Bootstrap core CSS -->
    <link href="~/Assets/FlatLab/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/FlatLab/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Assets/FlatLab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/FlatLab/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Assets/FlatLab/css/owl.carousel.css" type="text/css">

    <!--right slidebar-->
    <link href="~/Assets/FlatLab/css/slidebars.css" rel="stylesheet">
    <link href="~/Assets/FlatLab/assets/toastr-master/toastr.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this template -->
    <link href="~/Assets/FlatLab/css/style.css" rel="stylesheet">
    <link href="~/Assets/FlatLab/css/style-responsive.css" rel="stylesheet" />

}

@section SectionJS{

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Assets/FlatLab/js/jquery.js"></script>
    <script src="~/Assets/FlatLab/js/bootstrap.bundle.min.js"></script>
    <script class="include" type="text/javascript" src="~/Assets/FlatLab/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Assets/FlatLab/js/jquery.scrollTo.min.js"></script>
    <script src="~/Assets/FlatLab/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Assets/FlatLab/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/Assets/FlatLab/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Assets/FlatLab/js/owl.carousel.js"></script>
    <script src="~/Assets/FlatLab/js/jquery.customSelect.min.js"></script>
    <script src="~/Assets/FlatLab/js/respond.min.js"></script>

    <!--right slidebar-->
    <script src="~/Assets/FlatLab/js/slidebars.min.js"></script>
    <script src="~/Assets/FlatLab/assets/toastr-master/toastr.js"></script>

    <!--common script for all pages-->
    <script src="~/Assets/FlatLab/js/common-scripts.js?v=2"></script>


    <script src="~/Assets/Local/Admin/js/index.js"></script>
}
